<div class="alert alert-success" role="alert">
  <%= notice %>
</div>


<h1>Contacts</h1>

<div id="contacts">
  
  <%= render 'contact' %>
  
  <%= link_to "New contact", new_contact_path, class:"btn btn-secondary" %>
</div>
<br>