/* .log_in {
    border: 1px solid red;
    margin: 0;
    padding: 0;
    display: 0;
    height: 100%;
    width: 100%;
}

.log_in h2, #emailHelp, .field {
    color: white;
}

.log_in_banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.log_in_form {
    height: 100%;
    background-color: rgb(108,99,255);
} */